{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * One Solr plugin for Craft CMS 3.x
 *
 * One Solr Status.twig
 *
 * @author    Michael Ramuta
 * @copyright Copyright (c) 2021 Michael Ramuta
 * @link      https://github.com/onedesign
 * @package   OneSolr
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("onedesign\\onesolr\\assetbundles\\onesolr\\OneSolrAsset") %}
{% do view.registerAssetBundle("onedesign\\onesolr\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/onedesign/one-solr/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "OneSolr Status" %}
{% set selectedSubnavItem = 'status' %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('one-solr') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@onedesign/onesolr/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set tabs = {
    index: {
        label: 'Index',
        url: '/admin/one-solr',
    },
    settings: {
        label: 'Settings',
        url: 'settings',
    },
    status: {
        label: 'Status',
        url: 'status',
    },
} %}
{% set selectedTab = 'status' %}

{# The content of the CP Section#}
{% set content %}
    <h2>SOLR Server Connection</h2>
    <p>Ping: {{ craft.oneSolr.pingStatus }}</p>

    <hr />

    <h2>Indexing step size</h2>
    <p>Entries indexed per step: {{ craft.oneSolr.stepSize }}</p>

    <hr />

    <h2>Mappings</h2>
    <table id="mapping-paths" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">Mapping</th>
            <th scope="col">Limit</th>
            <th scope="col">Offset</th>
            <th scope="col">Id</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
            {% for mapping in craft.oneSolr.mappings %}
                <tr>
                    <form method="post" class="centered" accept-charset="UTF-8">
                        <input type="hidden" name="action" value="dsSolr/cp/renderMappingPreview">
                        <input type="hidden" name="mapping" value="{{ mapping.mappingPath }}">
                        <th>{{ mapping.mappingPath }}</th>
                        <td><input type="text" class="text fullwidth" name="limit" value="10"></td>
                        <td><input type="text" class="text fullwidth" name="offset" value="0"></td>
                        <td><input type="text" class="text fullwidth" name="id" value=""></td>
                        <td width="260">
                            <input class="btn submit" name="rendered_preview" type="submit" value="Render neat json">
                            <input class="btn submit" name="real_preview" type="submit" value="Render raw json">
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endset %}
